<section>
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-item">
                <h3>our location</h3>
                <p>1024 Ogilvie Rd,Gloucester,ON K2P 9G5</p>
            </div>
            <div class="footer-item">
                <h3>opening hours</h3>
                <p>7 Days a week <br>12:00PM - 2:00AM</p>
            </div>
            <div class="footer-item">
                <h3>Contact us</h3>
                <p>(613) 542-3652</p>
            </div>
        </div>
        <div class="">
            <div class="copyright">
                &copy; O'plaisir Restaurant 2021
            </div>
        </div>
    </div>
</footer>
</section>
