<section class="home-section" id="home">
    <div class="home-bg"></div>
        <div class="row min-vh-100 ">
            <div class="home-text">
                <h1> Welcome to <br> O'Plaisir Restaurant</h1>
                <a href="./produits" class="btnhome">order now</a>
             <a href="./commandes" class="btnhome">commande</a>
             <a href="./carts" class="btnhome">Carts</a>
            </div>
        </div>
    </div>
</section>

<script type="module" src="./js/home.js"></script>